.contact-form{
    color: black;
}
.tel-email{
    color: rgb(206, 203, 203);
    text-align: left
}
#info{
    text-align: left;
    margin-left: 38.4%;
}
#contact-info{
    text-align:center
}
input, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.container-form{
    border-radius: 5px;
    padding: 20px;
}